/* DRAWER LAYOUT */

.drawer {
  display: none;
}
.drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  opacity: 0;

  transition: opacity 0.3s;
  will-change: opacity;
  background-color: #000;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.drawer rux-container div[slot="header"] {
  display: flex;
  gap: 1rem;
}

.drawer rux-container div[slot="header"] rux-button {
  margin-left: auto;
}

.drawer__close {
  /* Optional */
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  margin-left: 1rem;
}

.drawer__wrapper {
  position: fixed;
  top: 6.75rem;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  z-index: 9999;
  overflow: auto;

  transition: transform 0.3s;
  will-change: transform;

  display: flex;
  flex-direction: column;

  -webkit-transform: translate3d(103%, 0, 0);
  transform: translate3d(103%, 0, 0); /* extra 3% because of box-shadow */

  -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */

  /* Optional */
  box-shadow: 0 2px 6px #000;
}

/* DRAWER CONTENT  */

.drawer-title-status {
  margin-right: 0.25rem;
}

.drawer__content {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  flex-grow: 1;
  /* Optional */
  padding: 1.5rem;
  background-color: var(--color-background-surface-default);
}

.drawer--left .drawer__wrapper {
  left: 0;
  right: auto;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.drawer.is-active {
  display: block;
}

.drawer.is-visible .drawer__wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.drawer.is-visible .drawer__overlay {
  opacity: 0.5;
}

.tabs-wrapper {
  display: flex;
  justify-content: center;
}

.drawer__header {
  display: flex;
  justify-content: space-between;
  padding-top: var(--spacing-4);
  align-items: center;
  padding-inline: var(--spacing-4);
}

.drawer__header rux-status {
  margin-right: 1rem;
}

.drawer__header > div {
  display: flex;
  align-items: center;
}
/* DRAWER FOOTER */

.run-length-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 4.5rem;
  width: 93%;
  background-color: var(--color-background-base-header);
  font-weight: bold;
  padding-right: 2rem;
}
