.alerts div[slot="header"] {
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.active-alerts {
  display: flex;
  flex-flow: column nowrap;
  font-size: var(--font-size-base);
}

.active-alerts > span {
  font-size: var(--font-size-5xl);
  font-weight: var(--font-weights-bold);
}

.select-menu-div {
  display: flex;
  max-width: 50%;
  gap: 5%;
}

