#sat-icon {
  padding-left: 0.5rem;
  padding-bottom: 0.3rem;
  cursor: pointer;
}

#pre-pass-banner {
  color: #b7dcff;
  text-decoration: underline;
  margin-left: 0.5rem;
  cursor: pointer;
}

#more-horiz-icon {
  margin-left: 1rem;
  cursor: pointer;
}

.status-t-cell {
  padding-left: 1.5rem;
}

#ready-sat {
  color: #b7dcff;
}

#state-t-cell {
  text-transform: capitalize;
}
