.app-container {
  height: 100%;
  overflow: hidden;
}

.background {
  height: calc(100% - var(--spacing-24));
  padding-block: var(--spacing-3);
  padding-inline: var(--spacing-2);
  background-color: var(--color-background-surface);
  display: grid;
  gap: 15px 10px;
  grid-template-columns: calc(30% - 10px) 1fr 1fr;
  grid-template-rows: calc(55% - 7.5px) calc(45% - 7.5px);
  grid-template-areas:
    "alerts constellation constellation"
    "alerts watcher watcher";
}

.background > * {
  height: 100%;
}

rux-container {
  border: 1px solid var(--color-border-interactive-muted);
}

rux-container::part(container) {
  height: calc(100% - 2px);
  overflow-y: hidden;
}

rux-container::part(body) {
  padding: 0;
  overflow-y: scroll;
}

rux-table-header {
  top: 0;
  position: sticky;
  z-index: 10;
}

.alerts {
  grid-area: alerts;
}

.alerts::part(body) {
  padding-bottom: 0px;
  overflow-y: scroll;
  height: 86%;
}

rux-accordion rux-table-row {
  width: 50px;
}

.constellation {
  grid-area: constellation;
  height: 100%;
}

.constellation::part(body) {
  padding-bottom: 0px;
  overflow-y: scroll;
  height: 84%;
}

rux-timeline::part(time-region-container) {
  height: 84%;
}

.watcher {
  grid-area: watcher;
  display: flex;
}

.watcher rux-container {
  flex-basis: 40%;
}

.watcher rux-container::part(body) {
  height: 67%;
}

.watcher rux-container::part(toolbar) {
  background-color: var(--color-background-surface-selected);
  padding: 10px;
}

.mneumonic-popup-value[slot="trigger"]:hover {
  border-bottom: 1px solid var(--color-palette-brightblue-300);
}

.line-chart {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watcher rux-table-header-cell {
  text-align: right;
}

.watcher rux-table-header-cell:nth-of-type(2) {
  text-align: left;
}

rux-time-region::part(container) {
  border: 1px solid var(--color-border-interactive-muted);
}

rux-notification::part(container) {
  border: 1px solid var(--color-border-interactive-muted);
}

.constellation rux-icon::part(icon) {
  transform: translateY(10px)
}