/* APPLICATION LAYOUT & GRID STYLES */

.app-container {
  height: 100%;
}

.background {
  height: calc(100% - var(--spacing-24));
  padding: var(--spacing-3);
  background-color: var(--color-background-surface);
  display: grid;
  gap: var(--spacing-3);
  grid-template-columns: calc(30% - 10px) 1fr 1fr;
  grid-template-rows: calc(55% - 7.5px) calc(45% - 7.5px);
  grid-template-areas:
    "alerts constellation constellation"
    "alerts watcher watcher";
}

rux-container::part(container) {
  display: flex;
  flex-direction: column;
  height: calc(100% - 2px);
  overflow-y: hidden;
}

rux-container::part(body) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  padding: 0;
  /* to color small space above scrollbar */
  background-color: var(--color-palette-darkblue-900);
}

rux-container.alerts {
  grid-area: alerts;
}

rux-container.constellation {
  grid-area: constellation;
}

.watcher {
  grid-area: watcher;
  display: flex;
}

.watcher rux-container {
  width: 40%;
}

.watcher rux-container::part(container) {
  border-right: none;
}

/* GlOBAL TABLE STYLES */

.table-wrapper {
  overflow-y: auto;
}

.table-wrapper::-webkit-scrollbar-track {
  margin-top: 40px;
}

rux-table-header {
  top: 0;
  position: sticky;
  z-index: 10;
}

rux-status::part(status) {
  margin-inline: auto;
}

/* added to center align indicator with table row */
rux-tree-node::part(indicator) {
  margin-top: 0.3rem;
}
