
.alerts {
  grid-area: alerts;
    background-color: blue;
}
.constellation{
  grid-area: constellation;
  background-color: green;
}
.watcher {
  grid-area: watcher;
  background-color: purple;
}

.background {
  background-color: steelblue;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "alerts constellation constellation"
    "alerts watcher watcher";
}


